<!-- Slider -->

	<div id="slider-wrapper">
        <div id="slider" class="nivoSlider">
            <img src="/assets/slider/img02.jpg" alt="" title="Design 02"/>
            <a href="#"><img src="/assets/slider/img01.jpg" alt="" title="Design 01" /></a>
            <img src="/assets/slider/img03.jpg" alt="" title="Design 03"/>
            <img src="/assets/slider/img04.jpg" alt="" title="Design 04" />
        </div>
        <div id="htmlcaption" class="nivo-html-caption">
            <strong>This</strong> is an example of a <em>HTML</em> caption with <a href="#">a link</a>.
        </div>
    </div>
    <%= javascript_include_tag "jquery-1.4.3.min", "jquery.nivo.slider.pack"  %>
    <script type="text/javascript">
    $(window).load(function() {
        $('#slider').nivoSlider();
    });
    </script>
    <!-- End Slider -->
	<h1>New Designs </h1>
    <div class="product_box">
        <h3>Design 1</h3>
    	<a href="productdetail.html"><img src="/assets/product/pimg01.jpg" alt="Design 1" /></a>
        <p>Short Sleeve Polo abstract design.</p>
        <p class="product_price">$ 100</p>
        <a href="shoppingcart.html" class="addtocart"></a>
        <a href="productdetail.html" class="detail"></a>
    </div>
    <div class="product_box">
    	<h3>Design 2 </h3>
    	<a href="productdetail.html"><img src="/assets/product/pimg02.jpg" alt="Design 2" width="180" height="150" /></a>
        <p>Short Sleeve Polo animal design.</p>
        <p class="product_price">$ 80</p>
        <a href="shoppingcart.html" class="addtocart"></a>
        <a href="productdetail.html" class="detail"></a>
    </div>        	
    <div class="product_box no_margin_right">
    	<h3>Design 3 </h3>
    	<a href="productdetail.html"><img src="/assets/product/pimg03.jpg" alt="Design 3" width="180" height="150" /></a>
        <p>Short Sleeve Polo abstract design.</p>
        <p class="product_price">$ 60</p>
        <a href="shoppingcart.html" class="addtocart"></a>
        <a href="productdetail.html" class="detail"></a>
    </div>   
    
    <div class="cleaner"></div>
         	
    <div class="product_box">
    	<h3>Design 4 </h3>
   	    <a href="productdetail.html"><img src="/assets/product/pimg04.jpg" alt="Design 4" /></a>
        <p>Short Sleeve Polo animal design.</p>
        <p class="product_price">$ 220</p>
        <a href="shoppingcart.html" class="addtocart"></a>
        <a href="productdetail.html" class="detail"></a>
    </div>        	
    <div class="product_box">
        <h3>Design 5 </h3>
    	<a href="productdetail.html"><img src="/assets/product/pimg05.jpg" alt="Design 5" /></a>
        <p>Short Sleeve Polo abstract design.</p>
      <p class="product_price">$ 180</p>
        <a href="shoppingcart.html" class="addtocart"></a>
        <a href="productdetail.html" class="detail"></a>
    </div>        	
    <div class="product_box no_margin_right">
    	<h3>Design 6 </h3>
    	<a href="productdetail.html"><img src="/assets/product/pimg06.jpg" alt="Design 6" /></a>
        <p>Short Sleeve Polo animal design.</p>
        <p class="product_price">$ 160</p>
        <a href="shoppingcart.html" class="addtocart"></a>
        <a href="productdetail.html" class="detail"></a>
    </div>